* {
    margin: 0;
    padding: 0;
}

.box1 {
    width: 80vw;
    height: 15vh;
    background-color: blue;
    margin: auto;
}

.box2 {
    width: 15vw;
    height: 60vh;
    background-color: rgb(222, 11, 230);
    margin: auto;
    padding: 10px;
    border: 10px solid black;
    box-sizing: border-box;
}



.p {
    color: brown;
}

#p {
    color: chartreuse;
    font-size: 5em;
    margin: 30px;
    ;
}

.h411 {
    border: 5px solid red;
    display: inline;
    padding: 1em;
}

.RE {
    border: 5px solid green;
    display: inline-block;
    padding: 1em;
    width: 200px;
    box-shadow: 1px 1px 8px 2px red inset;
    margin-bottom: 1rem;
}

.Fuel_mechanism {
    border: 5px solid rgb(0, 27, 126);
    display: inline-block;
    padding: 1em;
    font-size: 50px;
    text-shadow: 8px -8px 3px blue;
}

.container ul {
    list-style: none;
    display: flex;
    border: 1px solid;
}

.container li {
    padding: 10px;
}

.ovf {
    width: 50vw;
    height: 10vh;
    border: 3px solid green;
    overflow: auto;
    text-align: justify;
}

.maincont {
    border: 5px solid;
    position: sticky;
}

.cont1 {
    height: 200vh;
    border: 2px solid green;
    margin: 10px;
    padding: 20px;

}

.posbox {
    background-color: rgb(214, 226, 43);
    margin: 1px;
    display: inline-block;
    width: 40vw;
    height: 15vh;
    overflow: auto;
    border: 3px solid;
    position: absolute;
    top: 20px;
}

.posbox1 {
    width: 40vw;
    height: 15vh;
    background-color: brown;
    border: 3px solid black;
    margin: 10px;
}

.posbox2 {
    width: 40vw;
    height: 15vh;
    background-color: rgb(31, 31, 201);
    border: 3px solid black;
    margin: 10px;
}

.posbox3 {
    width: 40vw;
    height: 15vh;
    background-color: rgb(96, 240, 0);
    border: 3px solid rgb(0, 0, 0);
    margin: 10px;
}

.card_container {
    background-color: rgb(232, 232, 232);
    display: flex;
    padding: 30px;
}

.card {
    margin-top: 10px;
    margin-left: 10px;
    width: 21vw;
    border: 2px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 5px gray;
}

.card_img {
    width: 20vw;
    height: 14vw;
    border: 0px;
    border-radius: 10px;
    position: relative;
    top: 1vh;
    left: 0.5vw;
}

.card_tags {
    margin-top: 15px;
    margin-left: 10px;
}

.card_tags span {
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
    border: 2px solid rgb(151, 151, 151);
    border-radius: 20px;
    margin: 3px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(132, 132, 132);
}

.card_content {
    padding-top: 20px;
    padding-left: 15px;
}

.card_content h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
}

.card_content p {
    padding-top: 12px;
}

.card_btn {
    text-align: center;
    padding: 18px;


}

.card_btn button {
    border: 0px;
    border-radius: 25px;
    padding-left: 13px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: rgb(51, 84, 253);
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}

button:hover {
    background-color: rgb(196, 196, 196);
    text-align: center;
}

:root {
    --mvar: auto;
    --bs: border-box;
}

.b1 {
    width: 50vw;
    background-color: blueviolet;
    height: 50vh;
    margin: var(--mvar);
    box-sizing: var(--bs);
}

@media (min-width:280px) and (max-width:450px) {
    .b1 {
        width: 50vw;
        background-color: rgb(255, 2, 61);
        height: 50vh;
        margin: var(--mvar);
        box-sizing: var(--bs);
    }

    .card_container {
        background-color: rgb(232, 232, 232);
        display: block;
        padding: 30px;
    }
}

:root {
    --ncol: rgb(128, 0, 53);
    --ncol1: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.navbar {
    background-image: var(--ncol1);
    padding-left: 60vw;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    padding: 15px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navbar li:hover {
    background-color: black;
    color: beige;
}

.b2::after {
    content: "dummy text";
    margin-left: 10px;
}

/*ex5*/

.nbcont {
    background-color: #faaee4;
    margin-top: 30px;
}

.nbitemcont {
    list-style: none;
    display: flex;
    margin: 0 0 0 68vw;


}

.nbitemcont li {
    font-size: 17px;
    font-family: poppins;
    font-weight: 600;
    padding: 15px 20px;
}

.mainbody {
    background-color: black;
    padding-bottom: 70px;
}

.twoboxcont {
    display: flex;
}

.box01 {
    width: 30vw;
    height: 70vh;
    background-color: #fea034;
    margin: 5rem 11rem;
}

.box02 {
    width: 30vw;
    height: 70vh;
    background-color: #1e9aff;
    margin: 5rem 4rem;
}


.icon img {
    border: 0px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: fixed;
    top: 84vh;
    left: 91vw;
}

.qbox {
    border: 3px solid white;
    width: 50vw;
    margin: auto;
    border-radius: 30px;
    padding: 30px;

}

.qbox p {
    font-size: 37px;
    font-family: poppins;
    color: aliceblue;
    text-align: center;
}

footer {
    padding: 25px;
    text-align: center;
    font-family: poppins;
    color: green;
    font-weight: 600;
    font-size: 20px;
}

.ob {
    border: 2px solid red;
    margin-bottom: 100px;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;

}

.sb {
    width: 80px;
    height: 80px;
    background-color: #faaee4;
    border: 1px solid black;
    font-size: 20px;
}

.gcont {
    border: 3px solid black;
    margin: 10px;
    display: grid;
    grid-template-areas: "nav nav nav"
        "lc lc rform"
        "leftq rightq rightq"
        "fr fr fr";
}

.nbar {
    background-color: #a18cd1;
    background-color: rgb(82, 151, 255);
    grid-area: nav;
}

.leftcont {
    background-color: red;
    grid-area: lc;
}

.rightform {
    background-color: yellow;
    grid-area: rform;
}

.leftq {

    background-color: blueviolet;
    grid-area: leftq;
}

.rightq {

    background-color: green;
    grid-area: rightq;
}

.foot {

    background-color: rgb(93, 8, 37);
    grid-area: fr;
}

/*EX6*/

.navbarContainer{
    display: flex;
    justify-content: center;
    margin: 10vh 0 60vh 0;
}
.liItemCont{
    display: flex;
    align-items: center;
    padding-left: 30vw;
    column-gap: 30px;
    list-style: none;
    font-family: poppins;
    font-size: 14px;
    font-weight: 600;
}

ul>li>a{
    text-decoration: none;
    color: black;
}
nav>img{
    width: 160px;
}

ul li img{
    width: 10px;
    margin-left: 5px;
}

ul>img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.bxcon{
    width: 80vw;
    height: 80vh;
    border: 3px solid purple;
    margin: auto;
    margin-bottom: 100px;
}

.bx{
    width: 5rem;
    height: 5rem;
    border: 1px solid;
    background-color: #faaee4;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale()
}